@page
@model viva.webstore.Pages.Content.Reklamacija_UsloviModel
@{
}
<div class="breadcrumb-wrap">
    <div class="container">

        <span class="title">REKLAMACIJE POTROŠAČA</span>
        @*  <div class="breadcrumb">
        <a href="/" title="Back to the frontpage"><i class="mdi mdi-home-outline"></i></a>

        <span aria-hidden="true" class="breadcrumb__sep">&gt;</span>
        <span>Kontakt</span>
        </div>*@

    </div>
</div>
<div class="pagecontent">
    <div id="shopify-section-template--15813931106533__form" class="shopify-section">
        <div class="grid">
            <div class="container">
                <div class="contact-content">
                    <div class="contact-title">Saobraznost i uslovi ostvarivanja reklamacije </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><h3>Šta je saobraznost?</h3> Odstupanje od saobraznosti nastaje u situacijama kada proizvod po sadržini, kvalitetu, svojstvu, svrsi i funkcionisanju ne odgovara opisu koji je prodavac pre zaključenja ugovora dao oglasom ili na drugi sličan način, odnosno kada proizvod ima bitne materijalne nedostatke i nije adekvatan onim karakteristikama za koja je prodavac tvrdio da ih proizvod poseduje pre kupovine.  </p>
                        <p><h3>Član 50. Zakona o zaštiti potrošača:  </h3>Prodavac odgovara za nesaobraznost isporučene robe prema ugovoru ako: 1) je postojala u času prelaska rizika na potrošača, bez obzira na to da li je za tu nesaobraznost prodavac znao; 2) se pojavila posle prelaska rizika na potrošača, ako potiče od uzroka koji je postojao pre prelaska rizika na potrošača; 3) je potrošač mogao lako uočiti, ukoliko je prodavac izjavio da je roba saobrazna ugovoru.  </p>
                        <p>Prodavac ne odgovara za nesaobraznost ako je u trenutku zaključenja ugovora potrošaču bilo poznato ili mu nije moglo ostati nepoznato da roba nije saobrazna ugovoru ili ako je uzrok nesaobraznosti u materijalu koji je dao potrošač. </p>
                        <p><h1>Reklamaciju nije moguće ostvariti pod sledećim uslovima:  </h1>
                            <ol>
                                <li>Ukoliko je do oštećenja ili kvara došlo usled transporta nakon naše isporuke. </li>
                                <li>Ukoliko je do oštećenja ili kvara došlo usled nepravilne upotrebe. </li>
                                <li>Ukoliko je do oštećenja ili kvara došlo usled nepravilnog održavanja. </li>
                                <li>Ukoliko je do oštećenja ili kvara došlo usled više sile (poplava, zemljotres, požar i sl.). </li>
                                <li>Ukoliko je do oštećenja ili kvara došlo zato što se kupac nije pridržavao proizvođačkog uputstva i preporuka o upotrebi proizvoda. </li>
                                <li>Ukoliko je do oštećenja ili kvara došlo usled korišćenja neodgovarajućeg potrošnog materijala. </li>
                                <li>Bilo kakvog mehaničkog oštećenja proizvoda koje je nastalo krivicom kupca. </li>
                            </ol>
                          </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

