@page
@model viva.webstore.Pages.Content.Reklamacije_PravaModel
@{
}
<div class="breadcrumb-wrap">
    <div class="container">

        <span class="title">REKLAMACIJE POTROŠAČA</span>
      @*  <div class="breadcrumb">
            <a href="/" title="Back to the frontpage"><i class="mdi mdi-home-outline"></i></a>

            <span aria-hidden="true" class="breadcrumb__sep">&gt;</span>
            <span>Kontakt</span>
        </div>*@

    </div>
</div>
<div class="pagecontent">
    <div id="shopify-section-template--15813931106533__form" class="shopify-section">
        <div class="grid">
            <div class="container">
                <div class="contact-content">
                    <div class="contact-title">PRAVA I OBAVEZE</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><strong>1. </strong>Potrošač može da izjavi reklamaciju uz dostavu računa na uvid ili drugog dokaza o kupovini, ZAKON O ZAŠTITI POTROŠAČA, član 55. stav 5. </p>
                        <p><strong>2. </strong>Prodavac je dužan da na prodajnom mestu vidno istakne obaveštenje o načinu i mestu prijema reklamacija kao i da obezbedi prisustvo lica odgovornog za prijem reklamacija u toku radnog vremena, ZAKON O ZAŠTITI POTROŠAČA, član 55.stav 4. </p>
                        <p><strong>3. </strong>Prodavac je dužan da bez odlaganja a najkasnije u roku od 8 dana, od dana prijema reklamacije, pisanim ili elektronskim putem odgovori potrošaču na izjavljenu reklamaciju. Rok za rešavanje reklamacije ne može da bude duži od 15 dana od dana prijema reklamacije. Ukoliko prodavac iz objektivnih razloga nije u mogućnosti da udovolji zahtevu potrošača u roku koji je dogovoren, dužan je da o produžavanju roka za rešavanje reklamacije, obavesti potrošača i navede rok u kome će rešiti predmetnu reklamaciju, kao i da dobije njegovu saglasnost. ZAKON O ZAŠTITI POTROŠAČA, član 55. stav 9 , stav 11.  </p>
                        <p><strong>4. </strong>Ukoliko Prodavac odbije reklamaciju dužan je da svoju odluku obrazloži  i da da Potrošača obavesti o mogućnosti rešavanja spora vansudskim putem i o nadleznim telima za vansudsko rešavanje potrošačkih sporova. ZAKON O ZAŠTITI POTROŠAČA, član 55. stav 12. </p>
                        <p><strong>5. </strong>Vansudsko rešavanje potrošačkog spora moguće je jedino ukoliko je potrošač prethodno izjavio reklamaciju trgovcu, u skladu sa pravilima Zakona. Postupak vansudskog rešavanja potrošačkog spora pokreće se dostavljanjem predloga Ministarstvu – lično, putem pošte ili elektronskim putem. Zatim, Ministarstvo prosleđuje predlog telu koje je nadležno prema mestu prebivališta potrošača, ili drugom telu koje Ministarstvo proceni da će rešiti spor na najefikasniji način. </p>
                        <p><strong>6. </strong>Maloprodajni objekti „HTZ VIVA“ prihvataju zamenu kupljenog artikla u roku navedenom za rešavanje reklamacije ili povraćaj novca u roku od 14 dana od datuma kupovine, pod uslovom da artikal nije nošen/oštećen. Povraćaj novca će biti izvršen uz obavezan prilog originalnog računa ili drugog dokaza o kupovini od strane kupca. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
