@page
@model viva.webstore.Pages.Content.Trgovina_ZastitaModel
@{
}
<div class="breadcrumb-wrap">
    <div class="container">

        <span class="title">TRGOVINA NA DALJINU</span>
        @*  <div class="breadcrumb">
        <a href="/" title="Back to the frontpage"><i class="mdi mdi-home-outline"></i></a>

        <span aria-hidden="true" class="breadcrumb__sep">&gt;</span>
        <span>Kontakt</span>
        </div>*@

    </div>
</div>
<div class="pagecontent">
    <div id="shopify-section-template--15813931106533__form" class="shopify-section">
        <div class="grid">
            <div class="container">
                <div class="contact-content">
                    <div class="contact-title">Zaštita privatnosti kupaca</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            HTZ VIVA doo poštuje Vašu privatnost i obavezuje se da će prikupljene podatke koristiti jedino za sopstvene potrebe, a sve sa ciljem pružanja što je moguće bolje usluge. Obavezujemo se da ni pod kojim uslovima HTZ VIVA doo neće dati ili prodati lične podatke posetioca,članova trećoj strani (uključujući IP ili e-mail adresu, adresu stanovanja i slično).Povremeno će slati obaveštenja (samo i isključivo) o radu sajta putem e-maila ili telefona. Svi podaci dobijeni putem naših stranica, su strogo poverljivi i dostupni isključivo tehničkom osoblju sajta.
                        </p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


