@page
@model viva.webstore.Pages.Content.Trgovina_PravoModel
@{
}
<div class="breadcrumb-wrap">
    <div class="container">

        <span class="title">TRGOVINA NA DALJINU</span>
        @*  <div class="breadcrumb">
        <a href="/" title="Back to the frontpage"><i class="mdi mdi-home-outline"></i></a>

        <span aria-hidden="true" class="breadcrumb__sep">&gt;</span>
        <span>Kontakt</span>
        </div>*@

    </div>
</div>
<div class="pagecontent">
    <div id="shopify-section-template--15813931106533__form" class="shopify-section">
        <div class="grid">
            <div class="container">
                <div class="contact-content">
                    <div class="contact-title">Pravo potrošača na odustanak od ugovora o prodaji na daljinu </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Potrošač ima pravo da odustane od ugovora zaključenog na daljinu, odnosno izvan poslovnih prostorija u roku od 14 dana, bez navođenja razloga i dodatnih troškova, osim troškova iz članova 33 i 34 Zakona o zaštiti potrošača ("Službeni glasnik RS", br. 88/2021). Jednostranim raskidom ugovora potrošač se oslobađa ugovornih obaveza, osim neposrednih troškova povraćaja robe. </p>
                        <p>Cena robe biće vraćena potrošaču nakon što roba bude vraćena u skladište trgovca ili drugog lica, odakle je potrošaču poslata. Trgovac ima pravo da uskrati vraćanje novca ukoliko utvrdi da roba nije u ispravnom stanju, usled potrošačevog neadekvatnog ili nepravilnog rukovanja istom.Potrošač je isključivo odgovoran za umanjenu vrednost robe koja nastane kao posledica rukovanja robom na način koji nije adekvatan, odnosno prevazilazi ono što je neophodno da bi se ustanovili priroda, karakteristike i funkcionalnost robe. </p>
                        <p>Prilikom povraćaja robe obavezno je vratiti je u ispravnom stanju, nekorišćenu i u originalnom pakovanju na kome ne sme biti oštećenja.Potrošač je dužan da vrati robu trgovcu ili licu ovlašćenom od strane trgovca, bez odlaganja, a najkasnije u roku od 14 dana od dana prijema paketa.Smatraće se da je roba vraćena u roku ako je potrošač poslao robu pre isteka gore navedenog roka od 14 dana. </p>
                        <p>Troškove vraćanja robe i novca snosi isključivo potrošač, izuzev u slučajevima kada potrošač od trgovca dobije neispravan ili pogrešan proizvod. </p>
                        <p>Podaci koje potrošač unese u obrazac o odustanku od ugovora zaključenog na daljinu, služe isključivo u svrhe evidentiranja izmena u prometu robe i trgovac ih neće koristiti u druge svrhe. </p>
                        <h2>ODUSTANAK OD KUPOVINE </h2>
                    <h3>Koraci:</h3>
                    <ol>
                            <li>Pogledati uputstvo koje se nalazi u footer-u sajta (donji desni ugao) </li>
                            <li>Uraditi online najavu povrata na sajtu (koristite e-mail nalog preko koga ste kupovali) </li>
                            <li>Pozvati korisničku podršku kako biste proverili da li je online najava stigla</li>
                            <li>Popuniti obrazac koji se zove: IZJAVA O ODUSTANKU OD UGOVORA O KUPOPRODAJI ZAKLJUČENOG NA DALJINU </li>
                            <li>Izjavu o odustanku popunjenu čitko sa svim tačnim podacima pakujete zajedno sa artiklom koji vraćate </li>
                            <li>Kontaktirate kurisku službu D-express 011.331.33.33 kako biste ih obavestili da dođu i preuzmu paket od Vas </li>
                            <li>Na zapakovan i obezbeđen paket koji vraćate zalepiti adresu: Spoljnostarčevačka 61 - 26000 Pančevo </li>
                    </ol>
                        <p>Ukoliko se ne ispoštuje procedura Odustanaka od kupovine nismo odgovorni za Vaš paket. </p>
                        <p>Ugovarači saglasno konstatuju da je Prodavac predao Kupcu obrazac izjave o odustanku ugovora o prodaji na daljinu, kao i da je Kupac upoznat sa obavezom da izjavu o odustanku od ugovora da u pisanom obliku, pri čemu obrazac sadrži: </p>
                        <p>- naziv, adresu i adresu elektronske pošte trgovca na koje Kupac dostavlja obrazac izjave o odustanku od ugovora o prodaji na daljinu; </p>
                        <p>- naziv artikala koji se vraćaju, datum zaključenja ugovora, datum prijema robe. </p>
                        <p>Izjava o odustanku od ugovora kod ugovora na daljinu i ugovora koji se zaključuju izvan poslovnih prostorija smatra se blagovremenom ukoliko je poslata trgovcu u roku iz stava 1. ovog člana ( 14 dana od dana saopštenja o odustanku) bez drugih obaveza povodom raskida ugovora, izuzev samih troškova vraćanja koji padaju na teret potrošača. </p>
                        <p>Izjava o odustanku od ugovora proizvodi pravno dejstvo od dana kada je poslata trgovcu. </p>
                        <p>Trgovac je dužan da bez odlaganja izvrši povraćaj uplata koje je primio od potrošača, a najkasnije u roku od 14 dana od dana kada je primio obrazac za odustanak (član 33. Zakona o zaštiti potrošača). </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


