@page
@model viva.webstore.Pages.Content.Trgovina_UsloviModel
@{
}
<div class="breadcrumb-wrap">
    <div class="container">

        <span class="title">TRGOVINA NA DALJINU</span>
        @*  <div class="breadcrumb">
        <a href="/" title="Back to the frontpage"><i class="mdi mdi-home-outline"></i></a>

        <span aria-hidden="true" class="breadcrumb__sep">&gt;</span>
        <span>Kontakt</span>
        </div>*@

    </div>
</div>
<div class="pagecontent">
    <div id="shopify-section-template--15813931106533__form" class="shopify-section">
        <div class="grid">
            <div class="container">
                <div class="contact-content">
                    <div class="contact-title">Uslovi korišćenja</div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>PLAĆANJA I CENE</h3>
                        <p>
                            <span>U on-line prodavnici HTZ VIVA doo dostupno je nekoliko načina plaćanja, a u cilju što komfornijeg poslovanja sa kupcima.</span>
                            <ol>
                                <li>Pouzećem, odnosno kurirskom službom prilikom isporuke naručene robe. </li>
                                <li>Preko računa Vašeg preduzeća ili radnje direktnom uplatom na tekući račun HTZ VIVA doo, Br.tekućeg računa: 170-30031343000-45 UniCredit Banka</li>
                                <li>Sve cene na sajtu su izražene u dinarima sa uračunatim PDV-om.</li>
                                <li>Plaćanje se vrši isključivo u dinarima.</li>
                                 </ol>
                        </p>
                        <p>Svi artikli prikazani na sajtu su deo naše ponude i ne podrazumeva da su dostupni u svakom trenutku.Sve izražene cene su podložne promenama u skladu sa promenom cenovnika. Htz Viva doo ne snosi odgovornost za eventualne greške na sajtu. Raspoloživost robe možete proveriti pozivanjem na brojeve telefona 013 402 840 | 013 402 124 | 013 312 345</p>
                        <h3>AŽURIRANJE LIČNIH PODATAKA</h3>
                        <p>HTZ VIVA doo vrši isporuku na Vašu izabranu adresu kurirskom, poštanskom službom po važećem cenovniku. Za sve porudžbine koje se potvrde do 12h, rok isporuke je od 1 do 5 dana. Za porudžbine preko 8.000,00 dinara, troškovi dostave su besplatni. Isporuka robe se vrši isključivo za područje Republike Srbije.</p>
                        <h2>NARUČIVANJE I KUPOVINA</h2>
                        <h3>PRONAĐITE I ODABERITE PROIZVOD KOJI ŽELETE DA NARUČITE:</h3>
                        <p>Iz našeg kataloga proizvoda ili uz pomoć pretrage na sajtu, odaberite proizvod koji želite da kupite. Radi bolje pretrage podelili smo naš prodajni asortiman po kategorijama, a proizvode možete filtrirati i po brendu,ceni,veličini itd.</p>
                        <h3>DODAJTE PROIZVODE U KORPU:</h3>
                        <p>Dodajte željeni proizvod u korpu klikom na dugme "Dodaj u korpu" Koje se nalazi pored naziva svakog proizvoda u katalogu proizvoda ili u samom opisu proizvoda odmah pored cene proizvoda. Otvoriće Vam se prozor sa tekstom "Proizvod je dodat u vašu korpu", i sledeće mogućnosti:Nastavi kupovinu, Izmenite korpu. Veoma lako možete obrisati proizvode iz korpe ili povećati broj željenih proizvoda. Ukoliko se odlučite da kupite odabrani proizvod i završite kupovinu, kliknite na taster Nastavite kupovinu. Otvoriće Vam se prozor sa uputstvima i detaljima o načinu plaćanja i isporuci. Sledite uputstva, izaberite Vama odgovarajući način plaćanja i isporuke kao i adresu isporuke. U poslednjem koraku izvršite pregled narudžbine i klikni te na dugme "Potvrdi porudžbinu". Na Vaš mail će stići obaveštenje o potvrdi i broju porudžbine. U slučaju da uvidite grešku, molimo Vas da nas obavestite kako bi izvršili korekciju.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

