<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PHMWFP8N');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WHCQ0CHYMY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WHCQ0CHYMY');
    </script>
    
  @*  <meta name="robots" content="noindex">*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HTZ Viva</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,,400italic,500,500italic,600,600italic,700,700italic,800,800italic&display=swap">


    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,500,500italic,600,400italic,600italic,700,700italic,800,800italic&display=swap">


    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Rubik:300,300italic,400,500,500italic,600,400italic,600italic,700,700italic,800,800italic&display=swap">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" media="all" />
    <link href="~/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/magnific-popup.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/animate.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme.css" rel="stylesheet" type="text/css" media="all" />


    <link href="~/css/aos.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/slick.min.css" rel="stylesheet" type="text/css" media="all" />
    <style data-shopify>
        :root {
            --color-text: #313c46;
            --color-sub-text: #313c46;
            --color-body-text: #777777;
            --color-body: #ffffff;
            --color-border: #e5e5e5;
            --color-header-text: #444444;
            --color-sale-text: #f04706;
            --color-meta: #666666;
            --color-text-field: #777777;
            --color-text-hover-field: #111111;
            --color-text-breadcrumb: #111111;
            --color-text-hover-breadcrumb: #f04706;
            --color-bg-breadcrumb: #f5f5f9;
            --errorRed: #dc0000;
            --successGreen: #0a942a;
            --color-btn-primary: #2b4861;
            --color-btn-primary-text: #ffffff;
            --color-btn-secondary: #f04706;
            --color-btn-secondary-text: #ffffff;
            --color-product-primary: #f5f5f5;
            --color-product-primary-text: #111111;
            --color-product-secondary: #ffcc00;
            --color-product-secondary-text: #111111;
            --passwordPageUseBgImage: true;
            --font-stack-header: Rubik, sans-serif;
            --font-stack-body: Rubik, sans-serif;
            --font-stack-subheading: Rubik, sans-serif;
            --font-size-base: 14px;
            --font-line-height: 16px;
            --font-letterspace: 0px;
            --colorFooterContent: #cccccc;
            --colorFooterSocial: #ffffff;
            --colorFooterSocialHover: rgba(0,0,0,0);
            --colorFooterbg: #3B3B3A;
            --colorFooterTitle: #ffffff;
            --colorFooterBottombg: #3B3B3A;
            --colorFooterBorder: #3c464f;
            --FooterBottomLink: #e5e5e5;
            --FooterBottomText: #cccccc;
            --colorProductTitle: #273c99;
            --selectIcon: url('//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/ico-select.svg?v=32282256259852467451650367329');
            --gutter: 30px;
            --sectionSpacing: 55px;
            --sectionSpacingSmall: 35px;
            --colorBlankstate: 119, 119, 119;
            --colorBlankstateBorder: 119, 119, 119;
            --colorBlankstateBackground: 119, 119, 119;
            --slick-font-family: "slick-icons, sans-serif";
            --slick-arrow-color: #111;
            --slick-dot-color: #111;
            --slick-dot-color-active: #111;
            --slick-prev-character: '\2190';
            --slick-next-character: '\2192';
            --slick-dot-character: '\2022';
            --slick-dot-size: 6px;
            --slick-opacity-default: 0.75;
            --slick-opacity-on-hover: 1;
            --slick-opacity-not-active: 0.25;
        }



        .password-page__signup-form .input-group-field {
            background-color: transparent;
        }

        .password-page__wrapper {
            display: table;
            height: 100%;
            width: 100%;
            background-color: var(--color-body);
            padding-top: 15%;
        }

            .password-page__wrapper.bg-img {
                background-image: url('//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/password-page-background.jpg?29764');
                background-size: cover;
                background-repeat: no-repeat;
                color: #ffffff;
            }

        .tt-serviceslider {
            float: left;
            width: 100%;
            background: url('//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/slider-bg.jpg?v=119636352552955139181647239429') repeat fixed;
            background-color: #572a68;
            background-size: cover;
        }

        .category-slider .tthometab-title.box-heading .ttcategoryslider-tab::after {
            background-image: url('//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/banner.jpg?v=18500602429590166101649834849');
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            content: '';
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 300px;
            width: auto;
            z-index: -1;
        }

        .product-single .ttqtyprogress span.QuantityAvailable {
            background-image: url('//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/fire.png?v=14384662478358297281655717798');
            background-repeat: no-repeat;
            height: 30px;
            width: auto;
            float: none;
            display: inline-block;
            vertical-align: top;
            background-size: 30px;
        }

        .password-page__wrapper a {
            color: inherit;
        }

            .password-page__wrapper a:hover {
                color: inherit;
            }

        .password-page__wrapper.bg-img .social-sharing a {
            color: #ffffff;
        }

            .password-page__wrapper.bg-img .social-sharing a:hover {
                color: #ffffff;
            }

        .password-page__wrapper .social-sharing a {
            color: var(--color-text-field);
        }

            .password-page__wrapper .social-sharing a:hover {
                color: var(--color-meta);
            }

        .password-page__wrapper.bg-img h1, .password-page__wrapper.bg-img h2, .password-page__wrapper.bg-img h3, .password-page__wrapper.bg-img h4, .password-page__wrapper.bg-img h5, .password-page__wrapper.bg-img h6, .password-page__wrapper.bg-img .h1, .password-page__wrapper.bg-img .h2, .password-page__wrapper.bg-img .h3, .password-page__wrapper.bg-img .h4, .password-page__wrapper.bg-img .h5, .password-page__wrapper.bg-img .h6 {
            color: #fff;
        }

        .password-page__wrapper.bg-img .input-group-btn .icon {
            color: inherit;
        }

        .flag-usd {
            background-image: url(//cdn.shopify.com/s/files/1/1454/2846/t/5/assets/currency_1.png?5796274980970116025);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-eur {
            background-image: url(//cdn.shopify.com/s/files/1/1454/2846/t/5/assets/currency_2.png?5796274980970116025);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-gbp {
            background-image: url(//cdn.shopify.com/s/files/1/1454/2846/t/5/assets/currency_3.png?5796274980970116025);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-aud {
            background-image: url(//cdn.shopify.com/s/files/1/1454/2846/t/5/assets/currency_4.png?5796274980970116025);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag- {
            background-image: url(//cdn.shopify.com/s/files/1/2392/4435/t/2/assets/currency_6.png?13466799072974063191);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag- {
            background-image: url(//cdn.shopify.com/s/files/1/2392/4435/t/2/assets/currency_7.png?13466799072974063191);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag- {
            background-image: url(//cdn.shopify.com/s/files/1/2392/4435/t/2/assets/currency_8.png?13466799072974063191);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag- {
            background-image: url(//cdn.shopify.com/s/files/1/2392/4435/t/2/assets/currency_9.png?13466799072974063191);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag- {
            background-image: url(//cdn.shopify.com/s/files/1/2392/4435/t/2/assets/currency_10.png?13466799072974063191);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-1 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_1.png?v=18239196963075170161647239395);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-2 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_2.png?v=142449562045385239011647239395);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-3 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_3.png?v=170596593875287525321647239396);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-4 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_4.png?v=183532650322902660331647239397);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-5 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_5.png?v=31126371714934889051647239397);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-6 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_6.png?29764);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-7 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_7.png?29764);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-8 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_8.png?29764);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-9 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_9.png?29764);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }

        .flag-10 {
            background-image: url(//cdn.shopify.com/s/files/1/0633/2078/5125/t/2/assets/currency_10.png?29764);
            background-repeat: no-repeat;
            display: inline-block;
            height: 11px;
            width: 16px;
        }
    </style>


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PHMWFP8N"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.AntiForgeryToken()
    <partial name="_Header" />
    <div class="loading-modal modal" style="display: none;">Loading</div>
    <div class="ajax-error-modal modal cart-popup-wrapper">
        <div class="overlay"></div>
        <div class="modal-inner">
            <div class="close-popup">
                <a href="javascript:void(0)" class="close-modal"><i class="mdi mdi-close"></i></a>
            </div>
            <div class="error-content">
                <div class="ajax-error-title">Error</div>
                <div class="ajax-error-message"></div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newsletterModal" data-pause="3000">
        <div class="modal-dialog white-modal center-center">
            <div class="modal-content modal-md">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close"></i></button>
                </div>
                <div class="modal-block">

                    <div class="modal-img   col-sm-6">
                        <img loading="lazy" src="~/img/HTZ VIVA Logo_Normal.jpg" alt="newsletter-bg.png" class="img-responsive">
                    </div>


                    <div class="modal-newsletter  col-sm-6">
                        <div class="title">Napomena</div>
                        <div class="desc">U toku je unošenje artikala u web prodavnicu.</div>
                        <div class="desc">Ukoliko vas interesuje određeni artikal koji nije vidljiv na web sajtu, molimo Vas kontaktirajte nas na:</div>
                        <div class="desc">Telefone:<br /> <strong>013 402 840 </strong><br /> <strong>013 402 124 </strong><br /> <strong>013 312 345 </strong> </div>
                        <div class="desc">Email:<br /> <strong>web@htzviva.rs </strong> </div>
                        
                     
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="ajax-success-modal cart-popup-wrapper modal" style="display: none;">
        <div class="modal-cart">
            <div class="overlay"></div>
            <div class="cart-content">
                <div class="content">
                    <p class="added-to-cart info">UPRAVO DODATO U KORPU</p>
                    <a href="javascript:void(0)" class="close-modal"><i class="mdi mdi-close"></i></a>
                    <div class="content-wrap">
                        <div class="ajax-content">
                            <div class="ajax-left">
                                <img loading="lazy" class="ajax-product-image" alt="modal window" src="">
                            </div>
                            <div class="ajax-right">
                                <div class="ajax_variant"></div>
                                <div class="product-title">
                                    <h3 class="ajax-product-title"></h3>
                                </div>
                                <span class="ajax_price">

                                    <span class="discount-percentage">Save -10%</span>

                                    <span class="product-price__price product-price__sale"><span class="money" data-currency-usd="$450.00">$450.00</span></span>
                                    <s class="product-price__price compare_price"><span class="money" data-currency-usd="$500.00">$500.00</span></s>
                                </span>
                                <div class="total_itmes">Kol: <span class="popup-qty"></span></div>
                            </div>
                        </div>
                        <div class="success-message added-to-cart"><a asp-page="/cart/index" class="cart btn">Korpa (<span class="ajax_item_total">--</span>)</a> </div>
                        <div class="continue-shopping" data-cart-popup-dismiss="">Nastavite kupovinu</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main role="main" class="pb-3 ">
        @RenderBody()
    </main>


    <partial name="_Footer" />

    <script src="~/js/modernizr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/global.js" defer="defer"></script>


    <script src="~/js/theme.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/details-disclosure.js" defer="defer"></script>
    <script src="~/js/jquery-cookie.min.js"></script>

    <script src="~/js/jquery.history.js " defer="defer"></script>
    <script src="~/js/countdown.js" async="async" defer="defer"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
   
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
 
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/magnific-popup.min.js" defer="defer"></script>
    <script src="~/js/threesixty.min.js" defer="defer"></script>
    <script src="~/js/imagesLoaded.min.js" defer="defer"></script>
    <script src="~/js/lightbox-2.6.min.js" defer="defer"></script>
    <script src="~/js/parallax.min.js" defer="defer"></script>
    <script src="~/js/shop.js" defer="defer"></script>
    <script src="~/js/ResizeSensor.min.js" defer="defer"></script>
    <script src="~/js/theia-sticky-sidebar.min.js" defer="defer"></script>
    <script src="~/js/inview.js" defer="defer"></script>
    <script src="~/js/custom-js.js" defer="defer"></script>
    <script src="~/js/jquery.hoverdir.js" defer="defer"></script>

    <script src="~/js/jquery.zoom.min.js" defer="defer"></script>
    <script src="~/js/cart.js" defer="defer"></script>
    <script src="~/js/api.jquery.js" defer="defer"></script>
    <script>
        window.ajax_cart = true;
        jQuery(window).on('load', function () {
            jQuery(".ttloader").fadeOut(500);
            jQuery(".ttloader .rotating").addClass("load-open");
        });
        (function (e) {
            var obj = {
                init: function () {
                    try {
                        if (e.cookie('popupNewsletter') != 'disable') {
                            //this.checkboxEvent();
                            var pause = e('#newsletterModal').attr('data-pause');
                            setTimeout(function () {
                                e('#newsletterModal').modal('show');
                                e('#newsletterModal').addClass("in");
                                var date = new Date();
                                var minutes = 5;
                                date.setTime(date.getTime() + (minutes * 60 * 1000));
                                e.cookie('popupNewsletter', 'disable', { expires: date, path: '/' })
                            }, pause)
                        }
                    }
                    catch (err) { }
                },
                checkboxEvent: function () {
                    e('#checkBox').change(function () {
                        if (e(this).is(':checked')) {
                            e(this).addClass('active');
                            e(this).parent().addClass('active');
                            e.cookie('popupNewsletter', 'disable', { expires: 1, path: '/' })
                        }
                        else {
                            e(this).removeClass('active');
                            e(this).parent().removeClass('active');
                            e.cookie("popupNewsletter", null, { path: '/' })
                        }
                    })
                }
            };
            e(document).ready(function () { obj.init() })
        })(jQuery)
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
