@page
@model viva.webstore.Pages.OnamaModel
@{
}
<div class="container">
    <div class="about-page">
        <div class="row">
            <div class="cms-aboutus1">
                <div class="col-sm-6 tt-about">
                    <div class="aboutus-img">
                        <a href="#"> <img src="~/img/Viva_Footer_img.png" alt="about_us"></a>
                    </div>
                </div>
                <div class="col-sm-6 tt-about">
                    <div class="section-header">
                        <div class="tt-title" style="color:#222222">Ko smo mi?</div>
                        <div class="desc" style="color:#666666">
                            HTZ VIVA je porodična firma osnovana 2008 godine u Pančevu.<br/>

                            Uspeh smo postigli gradeći I negujući stabilne partnerske odnose, a u prilog tome govori činjenica da I danas sarađujemo sa istim partnerima kao na početku, zbog čega smo posebno ponosni, kao I da ovo smatramo jednim od bitnih naših uspeha.
                            </div>
                        <div class="desc" style="color:#666666">
                            Naša pretežna delatnost je zaštita I bezbednost na radnom mestu, dakle, bavimo se prodajom opreme koja je potrebna kako bi se bezbedno I na profesionalan način obavio svaki posao. Trudimo se da Vam obezbedimo sve na jednom mestu, kao I izađemo u susret svakom Vašem zahtevu.

 

 
                             </div>
                       
                </div>
            </div>
            </div>
            </div>
    </div>
