@page
@model viva.webstore.Pages.Order.IndexModel
@{
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-3 text-black">Hvala Vam!</h2>
                <p class="lead mb-5">Vaša narudžbina je uspešno završena.</p>
                <p class="lead mb-6">Podaci o narudzbini su poslati na Vaš email.</p>
                <p><a asp-page="/Index" class="btn btn-sm btn-primary">Nazad na kupovinu</a></p>
            </div>
        </div>
    </div>
</div>
