@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div> 
        <img src="~/img/logo_viva.png" />
    </div>
    <h1 class="display-4">Web Shop - Adminstracija</h1>
   

</div>
